<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <link
            rel="stylesheet"
            href="{{ url_for('postsofcompliments.static', filename='css/general.css')}}"
        />
        <title>Baseshuttle</title>
        <style>
            body {background-image: url('{{ url_for("postsofcompliments.static", filename="svg/blueprint_dark.svg") }}');}
        </style>
    </head>
    <body>
        <div class="main">
            <a href="/postsofcompliments" class="home">&#8962;</a>
            <div class="only_input">
                <form method="POST">
                    <input
                        type="text"
                        name="name"
                        placeholder="Name"
                        required
                        autofocus
                        maxlength="24"
                    />
                </form>
            </div>
        </div>
        <footer>
            <a href="https://jonathanfroehlich.de"><img src="{{ url_for('postsofcompliments.static', filename='svg/jf_logo.svg')}}"></a>
        </footer>
    </body>
</html>
