<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('postsofcompliments.static', filename='css/general.css')}}"
        />
        <title>Baseshuttle</title>
    </head>
    <body>
        <div class="main">
            <div class="only_input">
                <a class="choose" href="/postsofcompliments/join">Beitreten</a>
                <a class="choose" href="/postsofcompliments/create">Erstellen</a>
            </div>
        </div>
        <footer>
            Powered by
            <a href="https://jonathanfroehlich.de">Jonathan Fröhlich</a>
        </footer>
    </body>
</html>
