@font-face {
	font-family:"Yanone Kaffeesatz";
	font-style:normal;
	font-weight:400;
	src:url("/fonts/YanoneKaffeesatz-Regular.ttf");
}

@font-face {
	font-family:"Yanone Kaffeesatz";
	font-style:normal;
	font-weight:300;
	src:url("/fonts/YanoneKaffeesatz-Light.ttf");
}

@font-face {
	font-family:"Yanone Kaffeesatz";
	font-style:normal;
	font-weight:700;
	src:url("/fonts/YanoneKaffeesatz-Bold.ttf");
}

* {
	border:0;
	font:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}

body {
	font-family:"Yanone Kaffeesatz", sans-serif;
	font-size:18px;
	font-weight:300;
	line-height:1.25;
	text-align:center;
}

h1 {
	font-size:40px;
	font-weight:bold;
	color:rgb(145, 73, 135);
	margin:0 0 20px;
}

a {
	color:rgb(145, 73, 135);
	text-decoration:none;
}

#site-inner {
	display:inline-block;
	padding:0 20px;
	width:100%;
	max-width:560px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	text-align:left;
}

header, main, aside, footer {
	margin:30px 0;
}

.error, .registration, .cancellation {
	font-size:20px;
	font-weight:400;
	margin:30px 0;
	padding:20px;
	border-radius:4px;
}

.error {
	background-color:rgba(226,0,26,0.4);
	border-left:6px solid rgb(226,0,26);
}

.registration {
	background-color:rgba(119,184,0,0.4);
	border-left:6px solid rgb(145, 73, 135);
}

.cancellation {
	background-color:rgba(0,112,184,0.4);
	border-left:6px solid rgb(0,112,184);
}

p {
	margin-bottom:10px;
}

form {
	font-size:20px;
	font-weight:400;
}

form > * {
	display:block;
	margin:20px 0;
}

form i {
	font-size:18px;
	font-weight:300;
}

input[type="radio"], input[type="checkbox"] {
	display:none;
}

input, select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	border:1px solid #808080;
	border-radius:4px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#fff;
	display:block;
	padding:10px;
	width:100%;
	font-family:"Trebuchet MS", sans-serif;
	font-size:16px;
}

input:hover, select:hover, .radio label:hover, label:hover .checkbox {
	border-color:#000;
}

input:focus, select:focus {
	border-color:rgb(145, 73, 135);
	border-width:2px;
	padding:9px;
}

input, .select-wrapper, .radio {
	margin-top:5px;
}

.radio {
	font-size:0;
}

.radio div {
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:50%;
	font-size:20px;
}

.radio div:first-of-type {
	padding-right:10px;
}

.radio div:last-of-type {
	padding-left:10px;
}

.radio label {
	display:block;
	padding:20px 10px;
	text-align:center;
	position:relative;
	background-color:#fff;
	border:1px solid #808080;
	border-radius:4px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#fff;
	width:100%;
	cursor:pointer;
}

input[type="radio"]:checked + label {
	border-color:rgb(145, 73, 135);
	border-width:2px;
	padding:19px 9px;
}

.select-wrapper {
	position:relative;
}

.select-wrapper:before {
	content:'';
	position:absolute;
	border-color:#000;
	border-style:solid;
	border-width:0 2px 2px 0;
	height:10px;
	width:10px;
	top:11px;
	right:14px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	pointer-events:none;
}

select {
	padding:10px 40px 10px 10px;
	cursor:pointer;
}

select::-ms-expand {
	display:none;
}

select:focus::-ms-value {
	background-color:transparent;
}

.checkbox {
	display:inline-block;
	width:20px;
	height:20px;
	vertical-align:top;
	position:relative;
	margin:2.5px 8px 0 0;
	cursor:pointer;
	border:1px solid #808080;
	border-radius:4px;
	background-color:#fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

input[type="checkbox"]:checked + .checkbox {
	border-color:rgb(145, 73, 135);
	background-color:rgb(145, 73, 135);
}

input[type="checkbox"]:checked + .checkbox:before {
	content:'';
	position:absolute;
	border-color:#fff;
	border-style:solid;
	border-width:0 3px 3px 0;
	height:12px;
	width:5px;
	top:0;
	left:5px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}

button {
	display:block;
	color:#fff;
	background-color:rgb(145, 73, 135);
	padding:10px;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	margin:30px 0;
	border-radius:4px;
}

aside, footer {
	font-size:16px;
}

.infobox div {
	color:#fff;
	background-color:rgb(145, 73, 135);
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	font-size:20px;
	text-align: center;
	border-radius:4px;
	margin-top: 5px;
	padding: 10px 0;
}
