<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/general.css')}}"
        />
        <title>Baseshuttle</title>
    </head>
    <body>
        <div class="only_input">
            <a class="choose" href="/join">Beitreten</a>
            <a class="choose" href="/create">Erstellen</a>
        </div>
    </body>
</html>
